<div style="width: 400px; margin: 15px auto; padding: 15px; background: #eee; border-radius: 8px;">
  <h2>This is the "A" variant for the demo experiment</h2>
  <p>
    Split testing is a solution for carrying out A/B tests.
    By comparing several versions of your web pages, such as your landing pages or homepages,
    a split test helps you identify which one has a better conversion rate for your visitors.
  </p>
  <pre>
    50% of the visitors will get this variant
  </pre>
</div>
